<div ng-class='{"ivo-container": ivoSite}' ng-visible="!visibility.hide" class="main-wrapper">
    <!-- BEGIN CONTENT -->
    <main class="content">
        <div class="wrapper">
            <div class="head-text text-center visible-xs ">
                <div ng-click='openRegistrationPopup()' class="h1 font-size-27 pointer">DOWNLOAD MARKETING LEADS HERE</div>
                <p class="functions-list">• Business Owners
                    <br> • Homeowners Lists
                    <br> • Cell Phones & Emails
                    <br> • List Hygiene Skip Tracing
                </p>
                <p>
                    <a href="#" class="link-light">Start Right Now, Get a List in Minutes</a>
                </p>
            </div>
            <div class="container content-top">
                <div class="h1 h1__light">Which Type of Leads Do You Need?</div>
                <div class="button-center flex margin-bottom-10">
                    <a ng-click='openRegistrationPopup()' class="btn btn-default btn-elipsis">BUSINESSES</a>
                    <a ng-click='openRegistrationPopup()' class="btn btn-default btn-elipsis">CONSUMERS</a>
                </div>
                <div class="button-center flex">
                    <p class="lists-descriptions">
                        <span class="bolder">BUSINESS LISTS</span>
                        •&nbsp;&nbsp; Small Business<br/>
                        •&nbsp;&nbsp; Opportunity Seekers<br/>
                        •&nbsp;&nbsp; Large Business & Corporations<br/>
                        •&nbsp;&nbsp; Search Hundreds of Industry Types:<br/>
                        •&nbsp;&nbsp; Construction, Medical, or Restaurants<br/>
                        •&nbsp;&nbsp; Business Owner Emails & Cell Phones<br/>
                    </p>
                    <p class="lists-descriptions">
                        <span class="bolder">HOMEOWNER LISTS</span>
                        •&nbsp;&nbsp; New Homeowners<br/>
                        •&nbsp;&nbsp; Hispanic Homeowners<br/>
                        •&nbsp;&nbsp; Military & Veteran Homeowners<br/>
                        •&nbsp;&nbsp; Homeowner that Own Businesses<br/>
                        •&nbsp;&nbsp; Homeowner Age, Income & Credit<br/>
                        •&nbsp;&nbsp; Homeowner Emails & Cell Phones<br/>
                    </p>
                </div>
                <div class="flex line-param">
                    <div class="free">
                        <img class='ivo-hide' src="/assets/images/free.png" width="173" height="101" alt="">
                        <div class="h4 ivo-hide">Easy Search</div>
                        <p class='ivo-bold'>Search and get counts of unlimited lists.</p>
                    </div>
                    <div class="lead">
                        <!--<img class='ivo-hide' src="/assets/images/cut_new.png" width="130" height="130" alt="">-->
                        <div class="h4 ivo-hide">Discount Bulk Pricing</div>
                        <p class="cutt ivo-bold">Cutting out the data middle-man gives you
                            <br>unbeatable prices.</p>
                    </div>
                    <div class="database">
                        <img class='ivo-hide' src="/assets/images/database.png" width="127" height="127" alt="">
                        <div class='ivo-hide h4'>new 2021 databases</div>
                        <p class='ivo-bold'>Leads that are always fresh, and will
                            <br> continue to be updated.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="invert-line">
            <div class="wrapper">
                <div class="h1 h1__light">Create Your Own High Quality Lists</div>
                <div class="container">
                    <div class="flex item-line">
                        <div class="item">
                            <span class="item-icon icon-1"></span>
                            <div>
                                <div class="h4">AVOID DUPLICATES</div>
                                <p>Upload your own lists to avoid
                                    <br> buying duplicates</p>
                            </div>
                        </div>
                        <div class="item">
                            <span class="item-icon icon-2"></span>
                            <div>
                                <div class="h4">SELECT DEMOGRAPHICS</div>
                                <p class="cutt">Choose from a wide selection of Demo-
                                    <br>graphics and Keywords</p>
                            </div>
                        </div>
                        <div class="item">
                            <span class="item-icon icon-3"></span>
                            <div>
                                <div class="h4">ENDLESS COMBINATIONS</div>
                                <p>Homeowners, Business Owners,
                                    <br> and Endless Combinations</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ivo-hide after-line text-center">
            <div class="h3">DO YOU HAVE A QUESTION
                <br> AFTER BUSINESS HOURS?</div>
            <a ng-click="openFeedbackPopup()" class="btn btn-default btn-elipsis">Send US a message</a>
        </div>
        <div class="ivo-show text-center">
            <p class='bigger'>
                Consumers: 238+ Million Individuals<br>
                Consumer Households: 174 Million<br>
                Opt-In Email: 127 Million<br>
                Mobile Phones: 100 Million<br>
                IP Addresses: 327 Million
            </p>
        </div>
        <div class="prefooter flex ivo-hide">
            <div class="ivo-hide">
                Click <a ng-click='showChatWindow()'>Live Chat</a> to Speak With Our Helpful
                <br> Make My Data Support Team Now
            </div>
            <div class="ivo-show">
                Click <a ng-click='showChatWindow()'>Live Chat</a> to Speak With Our Helpful
                <br> Support Team Now
            </div>
        </div>
        <div class="after-line text-center visible-xs last-content-block">
            <div class="h3">Click Below to Start <br>
                Making Your Data</div>
            <a ng-click='openRegistrationPopup()' class="btn btn-default btn-elipsis">sign up</a>
        </div>

        <div class="button-center flex">
            <div class='marketing-software-wrapper'>
                <div class="h1 h1__light ƒ main_title">Need Marketing Software?</div>
                <div class="h3 h3__light subtitle">We Can Refer You to Companies that offer these Campaigns:</div>

                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Press1 Dialer</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; SMS Marketing</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Ringless Voicemail</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Bulk Email Campaign</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Remote Telemarketers</div>
            </div>

            <div class='marketing-software-wrapper'>
                <div class="h1 h1__light ƒ main_title">Need Software Services?</div>
                <div class="h3 h3__light subtitle">We Can Develop and Design Your own Software:</div>

                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Custom Data Tool</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Directory Scraping</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; CRM Email Automation</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Mobile App Development</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Reselling & White Labeling</div>
            </div>
        </div>
<style>
    .col-1{width: 70%}
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="col-"] {
            width: 90%;
            height: 240px;
        }
    }
</style>
        <div style="text-align:center;">
            <h1>MMD Has Many Data Sources</h1>
        </div>

        <div class="button-center flex">
            <div class='marketing-software-wrapper'>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Aged Internet Leads</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; County Records</div>
            </div>

            <div class='marketing-software-wrapper'>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Online Scraping</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Credit Agencies</div>
            </div>
        </div>

        <div style="text-align:center;">
            <h1>Learn About the Homeowner Database</h1>

            <iframe class="col-1" width="720" height="480"  src="https://www.youtube.com/embed/aCafChgvZQM"></iframe>
        </div>
        <br>
        <br>

        <div style="text-align:center">
            <h1>Learn About Scraping Business Leads</h1>
            <iframe class="col-1" width="720" height="480" src="https://www.youtube.com/embed/KscZCC4-_C0"></iframe>
        </div>
        <br>

        <div style="text-align:center;padding-left: 5em;padding-right: 5em">
            <h1>Would you like to build your own CRM system that organizes all your leads?</h1>
        </div>

        <div class="button-center flex">
            <div class='marketing-software-wrapper'>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Also use the same system to contact your leads with automatic reply messages, notifications, reminders, transactional messages and marketing offers.</div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Contact the leads via email, sms, live chat, voicemail drop and virtual attendants.</div>
                <div class="h3 h3__light list_item">•The cost is low because the system is slowly being build as features are needed.</div>
            </div>

            <div class='marketing-software-wrapper'>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp;Building our own Custom CRM is not confusing. You start with a basic database of your leads and add features as needed.  </div>
                <div class="h3 h3__light list_item">•&nbsp;&nbsp; Everything becomes automated and integrated into your business.</div>
            </div>
        </div>

        <div class='divider'></div>

        <div ng-if="comments">
            <div class='comments' ng-class="{'border-bottom': comments.indexOf(comment) != comments.length - 1}"
                 ng-repeat="comment in comments">
                <h4 class='comment-name'>{{comment.name}}</h4>
                <p class='comment-value'>{{comment.comment}}</p>
                <p class='comment-date'>{{comment.date | date: 'MM/dd/yyyy HH:mm'}}</p>
                <div ng-if='comment.answer' class='comment-answer'>
                    <h4 class='comment-name'>Seller's response</h4>
                    <p class='comment-value'>{{comment.answer}}</p>
                </div>
            </div>
        </div>
    </main>
    <!-- CONTENT EOF   -->
    <!-- BEGIN HEADER -->
    <header>
        <div class="wrapper">
            <div class="flex flex-end">
                <form ng-submit='login()'>
                    <div class="form-group">
                        <input ng-model='loginRequest.username'
                               class="form-control text-transform-none" placeholder="EMAIL">
                    </div>
                    <div class="form-group">
                        <input type="password"
                               ng-model='loginRequest.password'
                               class="form-control" placeholder="password">

                        <a class='forgot' ng-click='openForgotPasswordPopup()'>Forgot password?</a>
                    </div>
                    <div class="form-group terms-of-use">
                        <input class='checkbox'
                               id="termsAgreed"
                               type="checkbox"
                               ng-model='loginRequest.termsAgreed'>
                        <label for="termsAgreed">
                            By using MakeMyData software, you agree to the
                            <a class='terms-link' target="_blank" href="/#/terms">MakeMyData General Terms & Conditions</a>
                        </label>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            <button type="submit"
                                    class="btn btn-empty">LOG IN</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="flex panel-line">
                <div class="flex header-panel">
                    <a href="#">
                        <img class='ivo-hide' src="/assets/images/logo-main.png" width="447" height="208" alt="">
                        <img class='ivo-show' src="/assets/images/logo-ivo.png" width="670" height="208" alt="">
                    </a>
                    <div class="head-text text-center">
                        <div ng-click='openRegistrationPopup()' class="h1 font-size-27 pointer">DOWNLOAD MARKETING LEADS HERE</div>
                        <p class="functions-list">• Business Owners
                            <br> • Homeowners Lists
                            <br> • Cell Phones & Emails
                            <br> • List Hygiene Skip Tracing
                        </p>
                        <p>
                            <a ng-click='openRegistrationPopup()' class="link-light">Start Right Now, Get a List in Minutes</a>
                        </p>
                    </div>
                </div>
                <div class="btn-group">
                    <a ng-click="openFeedbackPopup()" class="btn btn-default panel-btn header-contact">Contact</a>
                    <a ng-click='openRegistrationPopup()' class="btn btn-default  panel-btn header-up">sign up</a>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER EOF   -->
    <!-- BEGIN FOOTER -->
    <footer>
        <div class="wrapper">
            <div>
                <a href="#" class="footer-logo">
                    <img class='ivo-hide' src="/assets/images/logo-main.png" alt="">
                    <p class='ivo-show bigger'>National<br>Consumer<br>Database</p>
                </a>
            </div>
            <div class='ivo-hide'>© MAKE MY DATA 2021</div>
            <div class='ivo-show'>© REI DATA LIST 2021</div>
        </div>
    </footer>
    <!-- FOOTER EOF   -->
</div>
